*{
  margin: 0;
  padding: 0;
}


/* Google Fonts  */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* universal style  */
.max-width {
  max-width: 1140px;
  margin: 0 auto;
}

.color-primary{
  color: #4E47FF;
}

.color-secondary{
  color:#252432;
}

.color-light-dark{
  color: #252432;
  opacity: 0.5;
}

.btn-primary{
  font-size: 16px;
  padding: 10px 20px;
  color: #fff;
  background-color: #4E47FF;
  border: none;
  border-radius: 5px;
}
/* Header style  */

.header {
  background-image: url(../media/Hero-bg.png);
}

/* Nav Styles  */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  padding: 20px 0;
}
.nav-title{
  font-size: 34px;
  font-weight: 700;
  color: #4E47FF;
}

/* Hero Section style  */

.hero-section{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 500px;
  max-width: 800px;

}

.hero-section-title {
  font-size: 65px;
  font-weight: 700;
  text-align: center;
  color: #252432;
}

/* Action section style  */
.action-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 100px 0;
}
.action-content{
  max-width: 500px;
}
.action-title{
  font-size: 42px;
  padding: 10px 0;
}

.action-text{
  font-size: 24px;
  padding: 5px 0 15px 0;
}

.action-img{
  border-radius: 48px;
}

/* Productive User Styles  */

.productive-user{
  background-color: rgba(78, 71, 255,0.1);
  padding: 50px;
  border-radius: 24px;

}

.pu-title {
  font-size: 38px;
  text-align: center;
  color: #252432;
}

.pu-stat-container{
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0;
}

.pu-stat-title{
  font-size: 80px;
  font-weight: 700;
  color: #4E47FF;
}

.pu-stat-text{
  font-size: 20px;
  font-weight: 400;
  color: rgb(0, 0, 0,.5);
  text-align: center;
}